body {
    background-color: blanchedalmond ;
}
.box {
    width: 26em;
    height: 40em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13em;
    margin-top: -20em;
    border: 4mm ridge slategray;
    border-radius: 6%;
    display: grid;
    grid: 6em /auto auto auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
}

/* .item-number, .item-special, .item-symbol, .item-display { */
    button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-family: monospace;
    border:  solid black;
    text-align: center;
    border-radius: 6%;
}


.item-display {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 5px;    
    height: 2em;
    font-size: 5.5em;
    font-family: monospace;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    background-color: gainsboro;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    justify-content: flex-end;
}

.item-special, .item-percent, .item-sign {
    background-color: dodgerblue;
}

.item-special:hover, .item-symbol:hover, .item-number:hover, .item-period:hover, .item-equals:hover, .item-percent:hover, .item-sign:hover {
    filter: brightness(105%)
}

.item-special:focus, .item-symbol:focus, .item-number:focus, .item-period:focus, .item-equals:focus, .item-percent:focus, .item-sign:focus {
    filter: brightness(110%) contrast(150%);
}

.item-symbol, .item-equals {
    background-color: coral;
}


.item-number, .item-period {
    background-color: mediumseagreen ;
}

#zero-item {
    grid-column-start: 1;
    grid-column-end: 3;
}